workflows/OQlecQ9yvPUhl6ZL.json
{
  "id": "OQlecQ9yvPUhl6ZL",
  "name": "Tima",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const { processMarkdownV2Safe, chunkForTelegram, SAFE_BUDGET } = require('../libs/markdown-v2');\n\nconst inputItems = $input.all();\nconst out = [];\n\nfor (const item of inputItems) {\n  const j = item.json || {};\n  const raw = j.message ?? j.output ?? j.text ?? j.content ?? '';\n\n  const formatted = processMarkdownV2Safe(raw);\n  const chunks = chunkForTelegram(formatted, SAFE_BUDGET);\n\n  chunks.forEach((chunk, idx) => {\n    out.push({\n      json: {\n        ...j,\n        message: chunk,\n        message_part_index: idx + 1,\n        message_parts_total: chunks.length,\n      },\n      binary: item.binary,\n    });\n  });\n}\n\nreturn out;\n"
      },
      "id": "0f88646a-5e6e-4fb2-b2d3-75931746b3d1",
      "name": "MarkdownV2",
      "type": "n8n-nodes-base.code",
      "position": [
        2640,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "93066f35-ee96-4a09-b60e-ff520b7fcd5b",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2864,
        16
      ],
      "webhookId": "1ad49e91-7894-4fb1-ba93-73ba3ec4e666",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "FYXmO1xALdoIYGZ3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "id": "eaedba0d-88ba-4be5-8626-ef92ea0b6bcc",
      "name": "Typing…",
      "type": "n8n-nodes-base.telegram",
      "position": [
        544,
        -224
      ],
      "webhookId": "b768e407-5f22-4b80-a8a9-2d255b9bf815",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "FYXmO1xALdoIYGZ3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.getzep.com/api/v1/thread/m_{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "options": {
          "fullResponse": true,
          "ignoreResponseCode": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        -224
      ],
      "id": "14c6b292-6fc9-4157-a352-d485b8576701",
      "name": "Check thread"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8935452-fe20-469d-a68d-1aad056cb8dd",
              "name": "message",
              "type": "string",
              "value": "=Voice message description:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"
            },
            {
              "id": "93f1bba1-1180-404a-93ca-c34cf1d1b7ac",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5fc689be-902f-4266-a46b-2986f6ce234a",
      "name": "get_message (Audio/Video message)",
      "type": "n8n-nodes-base.set",
      "position": [
        992,
        384
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-pro",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "635ed86b-ce3c-451b-892a-80f789f0b28f",
      "name": "Analyze voice message",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        768,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "j20KOsiE2TUYNeTR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "801ec600-22ad-4a94-a2b4-ae72eb271df0",
              "name": "message",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}"
            },
            {
              "id": "263071fb-bcdf-42b0-bb46-71b75fa0bf2a",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "64321564-7f4b-4110-bf9a-cefe5bc6b5f6",
      "name": "get_message (text)",
      "type": "n8n-nodes-base.set",
      "position": [
        992,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fcb767ee-565e-4b56-a54e-6f97f739fc24",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c1016c40-f8f2-4e08-8ec8-5cdb88f5c87a",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false,
          "allMatchingOutputs": true
        }
      },
      "id": "d757683b-84c6-4776-918a-0dcefdf2838a",
      "name": "Input Message Router1",
      "type": "n8n-nodes-base.switch",
      "position": [
        320,
        288
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "1dad4bea-8ca2-4a7e-8425-71dd952cf79e",
      "name": "Download Voice Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        544,
        384
      ],
      "webhookId": "d28e2f59-d662-4e75-8bac-11fdc3fbb295",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "FYXmO1xALdoIYGZ3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "id": "c2f10586-8bf9-4581-8ab7-3d76e50ce151",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        96,
        32
      ],
      "webhookId": "1aecee74-ba0f-4fe2-a302-578312187154",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "FYXmO1xALdoIYGZ3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "Y6uBXrtNCR9EuhIH",
        "options": {}
      },
      "id": "0b55c686-11cc-490d-8dc1-bf3193f895eb",
      "name": "Normalize input",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1216,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8935452-fe20-469d-a68d-1aad056cb8dd",
              "name": "message",
              "type": "string",
              "value": "=It was not possible to process the file.File type not supported."
            },
            {
              "id": "38ba2498-2141-4a04-a22a-64563fe2ee6f",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "168e351b-c3ee-4588-ac33-c3fae22f552f",
      "name": "get_error_message",
      "type": "n8n-nodes-base.set",
      "position": [
        992,
        576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=История клиента:\n{{ $('Normalize input1').item.json.context }}\nНовое сообщение клиента:\n{{ $('Normalize input').item.json.message }}",
        "options": {
          "systemMessage": "=Вы — Максим, эксперт Monster (monstr.agency).  \nПишите короткими живыми фразами, но при необходимости разворачивайте мысль.  \nТон деловой и уважительный, всегда на «вы», но допускается лёгкий юмор и эмодзи 🙂.  \nИспользуйте историю переписки и настроение клиента.  \nЗамечайте шутки, иронию и играйте в них: поддержите или уточните.  \nИзбегайте шаблонных клише («добрый день», «приятно познакомиться»).  \nСтиль ближе к живому человеку: простые слова, вариативность формулировок.  \nЗадавайте уточняющие вопросы, чтобы глубже понять задачу.  \nЦель — доверительный диалог, выявление задач клиента и мягкое продвижение.",
          "returnIntermediateSteps": true,
          "passthroughBinaryImages": true,
          "batching": {
            "batchSize": 1
          }
        }
      },
      "id": "eb39ce87-d342-4997-929c-ed5761f87846",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1808,
        -128
      ],
      "typeVersion": 2.1,
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "description": "Вся информация о компании",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1792,
        96
      ],
      "id": "161e6d05-bcc5-4508-88a9-b1935ccc170c",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1984,
        304
      ],
      "id": "afda078e-23d8-450a-830d-9ae4a1d57b8e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "j20KOsiE2TUYNeTR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        1696,
        304
      ],
      "id": "816265f2-cb12-4fc1-a2cd-91a9529fbe95",
      "name": "Query Data Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1776,
        512
      ],
      "id": "6da920fc-8cd6-45bf-b0e6-f8fd24bf3815",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "j20KOsiE2TUYNeTR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1664,
        96
      ],
      "id": "f4886f72-a3e0-473e-abd9-034b61e94742",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cYXfYtnOmdygmbZM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "getUserContext",
        "threadId": "=m_{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "minRating": 0.8
      },
      "type": "n8n-nodes-zep.zep",
      "typeVersion": 1,
      "position": [
        768,
        -224
      ],
      "id": "18bd49b4-08ee-49ce-baa4-2e54c0463d4b",
      "name": "Get user context from thread",
      "alwaysOutputData": true,
      "credentials": {
        "zepApi": {
          "id": "oNCTCKQnYJtOxVpA",
          "name": "Zep Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://data.widgets.d-novation.com/api/webhook/32485122/e34b6f2a5f370f8027c21b729b4f25d2cd75c40cd8dc7eb2d486b659f528a587",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "CONTEXT",
              "value": "={{ $json.messages }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        320
      ],
      "id": "034c0f13-e703-4d09-84a5-17da0804959c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        -144
      ],
      "id": "4c403efe-8ed4-44e3-8011-5175e8770589",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": "Y6uBXrtNCR9EuhIH",
        "options": {}
      },
      "id": "a4e1f88e-d8bd-4f1b-830b-50ef328bf230",
      "name": "Normalize input1",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1216,
        -144
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addMessages",
        "threadId": "=m_{{ $('Normalize input').item.json.chat_id }}",
        "messages": {
          "messageValues": [
            {
              "role": "=user",
              "content": "={{ $('Normalize input').item.json.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-zep.zep",
      "typeVersion": 1,
      "position": [
        2352,
        320
      ],
      "id": "5c0f1ee5-2237-4572-9727-02c4111b0a3e",
      "name": "Add messages to thread",
      "credentials": {
        "zepApi": {
          "id": "oNCTCKQnYJtOxVpA",
          "name": "Zep Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73e0be10-540e-43bb-8b17-9b9ceb5c221b",
          "leftValue": "={{ $json.statusCode }}",
          "rightValue": 200,
        "operator": {
          "type": "number",
          "operation": "equal",
          "singleValue": true
        }
      }
    ],
    "combinator": "and"
  },
  "options": {}
},
"type": "n8n-nodes-base.if",
"typeVersion": 2.2,
"position": [
  992,
  -640
],
"id": "8595a8bc-6918-4813-a77d-7a7e7e13956f",
"name": "If"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "create",
        "userId": "=m_{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "threadId": "=m_{{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-zep.zep",
      "typeVersion": 1,
      "position": [
        1440,
        -640
      ],
      "id": "1e3fd30b-b282-4e71-aaee-e7875e7356e7",
      "name": "Create a thread",
      "credentials": {
        "zepApi": {
          "id": "oNCTCKQnYJtOxVpA",
          "name": "Zep Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "getMessages",
        "threadId": "=m_{{ $('Normalize input').item.json.chat_id }}",
        "limit": 1
      },
      "type": "n8n-nodes-zep.zep",
      "typeVersion": 1,
      "position": [
        2640,
        320
      ],
      "id": "4982b6b1-9ae2-41cb-9b4d-724ee1898189",
      "name": "Get thread messages",
      "credentials": {
        "zepApi": {
          "id": "oNCTCKQnYJtOxVpA",
          "name": "Zep Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Normalize input').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2352,
        -288
      ],
      "id": "8b5c6b8f-2830-4fc8-a4fa-ae15e98c649a",
      "name": "Send a chat action",
      "webhookId": "5b6f8295-b7fc-442e-9219-00b962a5cdf6",
      "credentials": {
        "telegramApi": {
          "id": "GJDbtkEG41MLPOQh",
          "name": "Финбот"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "userId": "=m_{{ $('Telegram Trigger').item.json.message.chat.id}}"
      },
      "type": "n8n-nodes-zep.zep",
      "typeVersion": 1,
      "position": [
        1216,
        -640
      ],
      "id": "bc9ca490-c896-42ef-93c5-d1912afddf6e",
      "name": "Add a user",
      "alwaysOutputData": true,
      "credentials": {
        "zepApi": {
          "id": "oNCTCKQnYJtOxVpA",
          "name": "Zep Api account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Agent": {
      "main": [
        [
          {
            "node": "Add messages to thread",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          },
          {
            "node": "MarkdownV2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MarkdownV2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Input Message Router1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Typing…",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_error_message": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_message (text)": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze voice message": {
      "main": [
        [
          {
            "node": "get_message (Audio/Video message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Message Router1": {
      "main": [
        [
          {
            "node": "get_message (text)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Voice Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_error_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice Message": {
      "main": [
        [
          {
            "node": "Analyze voice message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_message (Audio/Video message)": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get user context from thread": {
      "main": [
        [
          {
            "node": "Normalize input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing…": {
      "main": [
        [
          {
            "node": "Check thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check thread": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add messages to thread": {
      "main": [
        [
          {
            "node": "Get thread messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get user context from thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add a user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a thread": {
      "main": [
        [
          {
            "node": "Get user context from thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get thread messages": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        []
      ]
    },
    "Add a user": {
      "main": [
        [
          {
            "node": "Create a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "80d045fb-51f5-4143-b0d1-90ccf4b352f6",
  "owner": {
    "type": "personal",
    "projectId": "XVIvSprAE1aEnKPy",
    "projectName": "monster devz <monscorpdevz@gmail.com>",
    "personalEmail": "monscorpdevz@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": false
}
